
:root {
    --colorPrimaryColor: #0d8bff;    
    --colorSecondaryColor: #d8ecff;    
    --colorBackgroundColor: #0a0a0a;    
    --colorOutlineColour: #e6e6e6;    
    --colorTertiaryColor: #0e5979;    
    --colorExtraColour: #d0e2ea;    
    --colorMainBlueColour: #dad0ea;    
}